@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.profile-page {
  display: flex;
}

.profile-sidebar {
  width: 20%;
  padding: 20px;
  border-right: 1px solid #ddd;
  text-align: center;
}

.profile-sidebar .profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-settings {
  width: 80%;
  padding: 20px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group input {
  width: 48%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn {
  display: block;
  width: 100%;

  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
}

.rounded-border {
  border: 1px solid #ccc;
  border-radius: 10px;
  /* Adjust this value to control roundness */
  padding: 10px;
  /* Add some padding for better appearance */
}